<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      th:with="lang=${#locale.language}" th:lang="${lang}"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>Application</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{vendor/img/favicon/favicon.ico}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"/>

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/vendor/layout/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/vendor/layout/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/vendor/layout/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/vendor/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/vendor/apex-charts/apex-charts.css" />

    <!-- Common CSS -->
    <link rel="stylesheet" href="/app/common/css/common.css" />

    <!-- Helpers -->
    <script th:src="@{/vendor/layout/js/helpers.js}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script th:src="@{/vendor/layout/js/config.js}"></script>
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!--LEFT SIDEBAR-->
            <div th:replace="/layout/left-sidebar"></div>

            <div class="layout-page">
                <!--HEADER-->
                <div th:replace="/layout/header"></div>

                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- CONTENT -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div layout:fragment="content"></div>
                    </div>

                    <!--FOOTER-->
                    <div th:replace="/layout/footer"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script th:src="@{/vendor/jquery/jquery.js}"></script>
    <script th:src="@{/vendor/popper/popper.js}"></script>
    <script th:src="@{/vendor/bootstrap/bootstrap.js}"></script>
    <script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>

    <script th:src="@{/vendor/layout/js/menu.js}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script th:src="@{/vendor/apex-charts/apexcharts.js}"></script>

    <!-- Main JS -->
    <script th:src="@{/vendor/layout/js/main.js}"></script>

    <!-- Page JS -->
    <script th:src="@{/vendor/layout/js/dashboards-analytics.js}"></script>
    <script th:src="@{/vendor/layout/js/ui-toasts.js}"></script>
    <script th:src="@{/app/common/js/popup-notification.js}"></script>
    <script th:src="@{/app/common/js/common.js}"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <th:block layout:fragment="script"></th:block>
</body>
</html>
